<div class="card" style="box-shadow: 2px 5px 2px #ccc; padding: 20px; margin: 5px; width: 300px; background: linear-gradient(to top , rgb(34, 32, 32) ,rgb(6, 6, 7) , rgb(56, 56, 56)); color: #ccc;">
    <div>
        <h3>Cliente: {{client?.nome}}</h3>
        <ul style="list-style: none;">
            <li>Idade: {{client?.idade}}</li>
            <li>cpf: {{client?.cpf}}</li>
            <li>rg: {{client?.rg}}</li>
            <li>sexo: {{client?.sexo}}</li>
            <li>signo: {{client?.signo}}</li>
            <li>telefone: {{client?.celular}}</li>
            <li>peso: {{client?.peso}}</li>
            <li>tipo_sanguineo: {{client?.tipo_sanguineo}}</li>
            <li>cor: {{client?.cor}}</li>
            <li>altura: {{client?.altura}}</li>
        </ul>
    </div>
</div>